body {
  background-image: url("../bilder/backgroundbuch.jpg");
}
#wrapper {
	display: flex;
	flex-direction: column;
	height: 95%;
}

div {
	border: 1px solid black;
	flex: 1; 
}
.row {
	display: flex;
	flex-direction: row;
}

.col {
	display: flex;
	flex-direction: column;
}
.flex2 {
	flex: 2;
}

.flex3 {
	flex: 3;
}
h1{
	font-size:4em;
}
h2{
	font-size:3.3em;
	text-align:center;
}
p{
	margin-left:20%;
	margin-right:20%;
	font-size: 1.5em;
}
#effect{
	display:none;
}
