body {
  background-image: url("../bilder/backgroundbuch.jpg");
  font-family: sans-serif;
}
#wrapper {
	display: flex;
	flex-direction: column;
	height: 95%;
}

div {
	/*border: 1px solid black;*/
	flex: 1; 
}
.row {
	display: flex;
	flex-direction: row;
}

.col {
	display: flex;
	flex-direction: column;
}
.flex2 {
	flex: 2;
}

.flex3 {
	flex: 3;
}
h1{
	font-size:4em;
}
h2{
	font-size:3.3em;
	text-align:center;
}
p{
	margin-left:20%;
	margin-right:20%;
	font-size: 1.5em;
}
#effect, #effectBtn, #logoutBtn{
	display:none;
}

.entryComplete{
	display: flex;
	flex-direction: row;
	margin-top: 2em;
	margin-bottom: 2em;
	width: 80%;
	margin-left:5%;

}

.userDetails{
	flex: 1;
	background: lightgrey;
	font-size: 0.8em;
}
.entryContent{
	flex: 5;
	background: white;
}
.entryContent>p{
	margin-left: 5%;
	font-size: 1em;
	margin-right: 10%;
}
